.listing {
    background: var(--accent-color);
    border-radius: 10px;
    padding-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
}

.listing-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.listing-location {
    padding: 10px 20px 20px 20px;

    ::before {
        content: url("/assets/location-pin.svg");
    }
}


section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);

    ::after {
        content: "\203A";
        margin-left: 5px;
    }
}